header{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }

.titulo{
    text-decoration:none;
    color: #0056b3;
    font-weight: bold;
    text-align:center;
    font-size:32px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.btnAgregarNoticia{
    margin:100px;
    display:flex;
    background-color: #0056b3;
    border: 1px solid #0056b3;
    color: white;
    font-weight: bolder;
    text-align:center;
    justify-content:center;
    width:50px;
    height:50px;
    text-decoration:none;
}

.btnAgregarNoticia:hover{
    background-color: white;
    border:1px solid #0056b3;
    color: #0056b3;
}

.card{
border: none;
}

img{
border:none;
}

.tituloNoticia{
color: black;
font-size: 25px;
font-weight: bolder;
}

.tituloNoticia:hover{
  text-decoration: underline;
}

span{
  font-weight: bolder;
  color: #0056b3;
}

img{
  width:80px;
  height:80px;
}

.btn-group{
  width:10px;
  height:10px;
  margin:10px;
}